<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TestServer.styles.css" />
    <!-- Luthetus Common -->
    <link href="_content/Luthetus.Common/luthetusCommon.css" rel="stylesheet" />
    <!-- Luthetus Text Editor -->
    <link href="_content/Luthetus.TextEditor/luthetusTextEditor.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <!-- Luthetus Common -->
    <script src="_content/Luthetus.Common/luthetusCommon.js"></script>
    <!-- Luthetus Text Editor -->
    <script src="_content/Luthetus.TextEditor/luthetusTextEditor.js"></script>
</body>

</html>
